{{ define "main" }}
<p class="editor-link" style="text-align: center; position: relative;
	top: -185px;"><a href="cloudcannon:collections/data/staff_members" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{{ range .Site.Data.staff_members }}
		<li>
			<div class="staff-image" style="background-image: url({{ .image_path }})"></div>
			<div class="name">{{ .name }}</div>
		</li>
	{{ end }}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Passion</h3>
		<p class="editable">Passion - Catching Joker</p>
	</div>
	<div>
		<h3 class="editable">Animal</h3>
		<p class="editable">The bat is not just a costume for Batman; it's a carefully chosen symbol that embodies his core characteristics, instills fear in his enemies, and reflects his nocturnal activities</p>
	</div>
	<div>
		<h3 class="editable">Style</h3>
		<p class="editable">Overall, black is a fundamental concept in color theory, encompassing both scientific and symbolic aspects. It's a versatile color with a rich history and diverse cultural interpretations.</p>
	</div>
</div>
{{ end }}